# from my.telegram.org/apps
API_ID=20065057
API_HASH=1abc1da88e4b72e3978a8c1c5ad2158c

# from @BotFather on telegram
BOT_TOKEN=8507682879:AAEG8e-R0CIqVle4WYM0nHjcL2P2Dlq3d60
LOGGER_ID=3112492297

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://groupboostbot:groupboostbot2025@cluster0.m3nnpxf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

OWNER_ID=1700916606

# pyrogram session from @StringFatherBot on telegram
SESSION=1BQANOTEuMTA4LjU2LjEwNgG7SBoGQ1IJUHYwxGOJNpsnnZ9Vqy7ACDkxUF4OVL5G3AuKGh+hHxYzkzaBEQNiGMBnqNt1l+SFPJ0fJnfWJDEhsL5jZzkxVA0nJjXBf0HnfesTp2fItm9BCi87Ifk3tQlrBampkarkAJEySf6jnNROOZUcHXCBwrYs3Ihix+jgkHcedwON+GshrD9E6w01cu+S6HgQWsoDb74mS/eK4DuoHWQ4V13gvi565NqaoQLjFw8ymTe86sy+qRISceAaP0K1fB6PBCEBcofKl7OwYzH8YRX45piZcoWCEVkH8pQWRdUEeNSMn8WbJRXs9vQDuF5bGMUEDex/TADTU5E+dS47jA==
